**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/.codex-temp
**/charts
**/docker-compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/DatabaseBackups
**/DatabaseSqlFiles
**/DatabaseUpgradeState
**/secrets.dev.yaml
**/values.dev.yaml
**/publish
**/publish-*
**/datasyn-cyyy.*
**/ApiDataCollector
LICENSE
README.md
!**/.gitignore
!.git/HEAD
!.git/config
!.git/packed-refs
!.git/refs/heads/**
